@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: #FCFCFD;
  --foreground: #24262F;

  --text-primary: #4E525A;
  --text-accent: #6E06F2;
}

@theme {
  --breakpoint-2xs: 25rem; /* 400px */
  --breakpoint-xs: 34.375rem; /* 550px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-text-primary: var(--text-primary);
  --color-text-accent: var(--text-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .avatar {
    @apply object-cover rounded-full grayscale-25;
  }

  .btn {
    @apply transition-colors duration-300 ease-in-out;
    @apply text-center py-3 px-6 rounded-lg font-semibold;
    @apply xs:max-lg:flex-1 flex items-center justify-center;
  }

  .label {
    @apply w-full flex flex-col text-xl text-text-primary;
  }

  .input,
  .textarea {
    @apply border border-text-primary rounded-lg px-4 py-2;
    @apply placeholder:text-text-primary;
    @apply focus:outline-none focus:ring-2 focus:ring-text-primary focus:border-transparent;
  }

  .submit-btn {
    @apply text-background bg-text-accent flex items-center justify-center;
    @apply rounded-lg px-6 py-3 text-2xl font-medium;
    @apply disabled:pointer-events-none disabled:opacity-40;
  }

  .submit-btn:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0.35em 0 0.75em 0.05em var(--text-accent);
  }

  .spinner {
    @apply w-8 h-8 border-4 border-gray-200 border-t-transparent rounded-full animate-spin;
  }
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

body {
  @apply max-w-7xl;
  @apply mx-auto;
  overflow-y: auto;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--text-primary) !important;
}

@keyframes marquee {
  to {
    transform: translateX(-100%);
  }
}

@keyframes stack-marquee-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes stack-marquee-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  .animate-marquee-left {
    animation: stack-marquee-left 30s linear infinite;
  }

  .animate-marquee-right {
    animation: stack-marquee-right 30s linear infinite;
  }
}
